<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../public/css/style.css" />

    <title>Fusion Mine</title>
</head>

<body>
    <header>
        <div class="header">
            <div class="logo">FusionMine</div>
            <nav class="header-nav">
                <a href="#">Правила</a>
                <a href="#">Поддержка</a>
                <a href="#">Наш Телеграмм</a>
                <a href="#">Группа VK</a>
            </nav>
            <a href="#" class="header-button">Начать играть</a>
        </div>
    </header>

    <main>
        <section class="carousel">
            <div class="carousel-container">
                <!-- Первая карточка -->
                <div class="carousel-item">
                    <img src="../public/images/ad1.png" alt="" />
                </div>

                <!-- Вторая карточка -->
                <div class="carousel-item">
                    <img src="../public/images/ad2.png" alt="" />
                </div>
            </div>
        </section>

        <section class="donate">
            <div class="donate-card">
                <div class="donate-choose">
                    <div class="donate-choose-serv">
                        <div>
                            <div id="serv-one" class="donate-serv active">АНАРХИЯ</div>
                            <div id="serv-two" class="donate-serv inactive">ГРИФ</div>
                        </div>
                        <div>
                            <div id="serv-three" class="donate-serv inactive">ВЫЖИВАНИЕ</div>
                            <div id="serv-four" class="donate-serv inactive">МИНИ-ИГРЫ</div>
                        </div>
                    </div>

                    <div class="donate-choose-don">
                        <div class="donate-choose-tab">
                            <nav class="donate-choose-nav">
                                <a href="#" class="donate-choose-nav-active" data-active="true">Привелегии</a>
                                <a href="#">Наборы</a>
                                <a href="#">Киты</a>
                                <a href="#">Валюта</a>
                            </nav>
                        </div>
                        
                        <div class="privileges">
                            <div class="privilege-item active2" id="fly">
                                <img src="../public/images/mine.png" alt="Fly" />
                                <div class="text-container">
                                    <p>FLY</p>
                                    <span>35 ₽</span>
                                </div>
                            </div>
                            <div class="privilege-item" id="vip">
                                <img src="../public/images/mine.png" alt="VIP" />
                                <div class="text-container">
                                    <p>VIP</p>
                                    <span>69 ₽</span>
                                </div>
                            </div>
                            <div class="privilege-item" id="gold">
                                <img src="../public/images/mine.png" alt="Gold" />
                                <div class="text-container">
                                    <p>GOLD</p>
                                    <span>150 ₽</span>
                                </div>
                            </div>
                            <div class="privilege-item" id="ultra">
                                <img src="../public/images/mine.png" alt="Ultra" />
                                <div class="text-container">
                                    <p>ULTRA</p>
                                    <span>240 ₽</span>
                                </div>
                            </div>
                            <div class="privilege-item" id="legenda">
                                <img src="../public/images/mine.png" alt="Legenda" />
                                <div class="text-container">
                                    <p>LEGENDA</p>
                                    <span>349 ₽</span>
                                </div>
                            </div>
							<div class="privilege-item" id="legenda">
                                <img src="../public/images/mine.png" alt="Legenda" />
                                <div class="text-container">
                                    <p>LEGENDA</p>
                                    <span>349 ₽</span>
                                </div>
                            </div>
							<div class="privilege-item" id="legenda">
                                <img src="../public/images/mine.png" alt="Legenda" />
                                <div class="text-container">
                                    <p>LEGENDA</p>
                                    <span>349 ₽</span>
                                </div>
                            </div>
							<div class="privilege-item" id="legenda">
                                <img src="../public/images/mine.png" alt="Legenda" />
                                <div class="text-container">
                                    <p>LEGENDA</p>
                                    <span>349 ₽</span>
                                </div>
                            </div><div class="privilege-item" id="legenda">
                                <img src="../public/images/mine.png" alt="Legenda" />
                                <div class="text-container">
                                    <p>LEGENDA</p>
                                    <span>349 ₽</span>
                                </div>
                            </div>
							<div class="privilege-item" id="legenda">
                                <img src="../public/images/mine.png" alt="Legenda" />
                                <div class="text-container">
                                    <p>LEGENDA</p>
                                    <span>349 ₽</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="donate-prev">
                    <div class="donate-preview-content" id="preview-content">
                        <!-- Content will be dynamically inserted here -->
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
        </div>
        <ul class="social">
            <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-linkedin"><ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
        </ul>
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Правила</a></li>
            <li><a href="#">Поддержка</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
        <p>©2025 FusionMine | All Rights Reserved</p>
    </footer>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="../scripts/carousel.js"></script>
    <script src="../scripts/choose-serv.js"></script>
</body>

</html>